trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:
# 1. Checkout
- task: Checkout@1
  displayName: 'Checkout Code'

# 2. Build Docker Image
- task: Docker@2
  displayName: 'Build Docker Image'
  inputs:
    command: build
    repository: nsbyadav14e/loginpage
    Dockerfile: '**/Dockerfile'
    tags: latest

# 3. Push to Docker Hub
- task: Docker@2
  displayName: 'Push Docker Image'
  inputs:
    command: push
    repository: nsbyadav14e/loginpage
    tags: latest

# 4. Deploy to Kubernetes
- task: KubernetesManifest@1
  displayName: 'Deploy to Kubernetes'
  inputs:
    action: deploy
    manifests: |
      manifests/deployment.yml
      manifests/service.yml

